<div class="container">
  <h1 class="my-3 text-center">
    Blogs
  </h1>
  <div class="row">
    <div class="col-sm 8 offset-sm-4">
    <% @blogs.each do |blog| %>
        <div class="blog mb-3">
          <h2>
            <%= link_to blog.title, blog_path(blog), class: 'text-decoration-none' %>
          </h2>
          <div class="d-flex align-items-center">
            <h5 class="me-2">
              <%= link_to blog.restaurant.name, restaurant_path(blog.restaurant), class: 'text-decoration-none' %>
              </h5>
            <h5 class="ms-5 fw-normal fst-italic"><%= blog.restaurant.cuisine %></h5>
          </div>
          <p>
            <%= blog.content.truncate_words(8) %>
          </p>
          <div id="ratings">
            food: <%= blog.restaurant.food_rating %> |
            service: <%= blog.restaurant.service_rating %> |
            price: <%= blog.restaurant.price_rating %>
          </div>
          <p>
            <%= blog.published_date %>
          </p>
          <div id="actions">
            <%= link_to blog_path(blog), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'text-decoration-none text-reset' do %>
              <span class="me-2"><i class="fa-solid fa-trash-can fa-lg delete-icon"></i></span>
            <% end %> |
            <%= link_to edit_blog_path(blog), class: 'text-decoration-none text-reset' do %>
              <span id="edit-icon" class="ms-2"><i class="fa-regular fa-pen-to-square fa-lg edit-icon"></i></span>
            <% end %>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
