<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h2 class="my-3"><%= @blog.title %></h2>
      <p><%= @blog.content %></p>
      <div id="actions" class="mb-2" data-controller="likes" data-likes-url="<%= like_blog_path(@blog) %>">
        <%= delete_blog_link(@blog) %>
        <%= edit_blog_link(@blog) %>
        <%= like_blog_link(@blog, action: "likes#like") %>
        <%= blog_likes_count(@blog) %>
      </div>
      <div id="comment-section" class="my-4">
        <% if @blog.comments.any? %>
          <% @blog.comments.each do |comment| %>
            <div class="card">
              <div class="card-body">
                <%= comment.content %>
              </div>
              <div class="card-footer">
                <%= comment.published_date %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <%= render "comments/form", locals: { blog: @blog, bookmark: @comment } %>
      <% else %>
        <p>You must be logged in to post a comment.</p>
      <% end %>
      <%= link_to "Blogs", root_path, class: "text-decoration-none" %>
    </div>
  </div>
</div>
